.managerspage {
  display: flex;
  margin-top: 0;
  min-height: 90vh;
  font-size: 18px;
  h3 {
    margin: 0;
  }
}

.menu {
  flex-basis: 20%;
  background-color: #282830;

    .logoBox {
      display: flex;
      height: 120px;
      text-align: center;
      background-color: #6e50bb;

      .content {
        margin: auto;
      }
    }

    .menuBar {
      display: flex;
      flex-direction: column;

      input {
        display: none;
      }
      label:hover {
        background-color: #515163;
      }
      input + label {
        // width: 100%;
        cursor: pointer; 
        padding: 12px 24px;
        margin: 16px 24px 0;
        font-weight: 400;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #f9f9f9;

      }
      input[type="radio"]:checked + label {
        background-color: #31313c;
      }
    }
}

.taskTemplate {
  height: 100%;
  flex-basis: 80%;

  .inner {

  }
}