.upload {

}
.form {
  h3 {
    color: salmon;
    margin: 0 0 12px;
  }
  h4 {
    color: lightskyblue;
    margin: 16px 2px 6px;
  }
}
.textBox {

}
.checkBox {

}
.btnWrap {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 48px;
}









