
.dropdown-container {
    position: relative;
    width: 120px;
    z-index: 1;
    .in {
        // left: 0;
        display: none;
        position: absolute;
      }
    .in:checked + label + .content {
        display: block;
        border-top: 1px solid #00000026;
    } 
    .in:checked + label > .dropdown-icon{
        transform: rotate(-180deg);
    }
    .dropdown-label {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
    }
    .dropdown-icon {
        transition: transform 250ms ease-out;
        padding: 0 12px;
    }
    .content {
        display: none;
        width: 100%;
        position: absolute;
        // left: 0;
        background-color: #000000;
        box-shadow: 0 4px 5px 0 #00000026;
    }
    .content ul {
        padding: 0 12px 12px 12px;
        margin: 0;
        list-style: none;
    }
}
