.finder {
    // height: 100%;
}

.finder-container {
    
}


.finder-container .finder-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    border-bottom : 1px solid #f9f9f9;
}
.finder-navbar .genre-filter-box {
    display: flex;
    align-items: center;
}
.finder-navbar .line-up-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.finder-navbar .line-up-box .search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 12px;
    border : 0.5px solid rgba(249, 249, 249, 0.3);
    box-sizing: border-box;
    .search-bar:focus {
        outline: none;
    }
}
.finder-navbar .search-box .search-bar {
    font-size: 16px;
    color: #f9f9f9;
    background: #000000;
    
}



.finder-container .finder-card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.finder-card-box .finder-card-item {
    flex: 0 0 30%;
    position: relative;
    margin-bottom: 60px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}
.finder-card-box .finder-card-item:hover {
    transform: scale(1.08);
    box-sizing: border-box;
}
.finder-card-box .finder-card-item img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 12px;
    box-sizing: border-box;
}
.finder-card-box .finder-card-item .card-info {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute; left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
    p {
        margin: 0;
    }
}
.finder-card-box .finder-card-item .card-info:hover{
    opacity: 1;
    cursor: pointer;
}

