.comments {
  h3 {
    margin: 6px 0px 36px 4px;
  }
}
.header {
  background-color: #31313c;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.commentWrite {
  display: flex;
  height: 124px;
  padding: 12px;
  margin: 12px 0;
  justify-content: space-between;
  background-color: #282830;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;

  .textareaBox {
    flex-basis: 100%;
    .userName {
      color: #f9f9f9;
      margin-bottom: 6px;
    }
    .textarea {
      background-color: #282830;
      color: #9e9eb1;
      font-size: 16px;
      width: 100%;
      
    }
  }
  .btn {
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    height: 100%;
    min-width: 124px;
    color: #f9f9f9;;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background: #4171d6;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #5383e8;
  }
}

.commentsInputBox {
  display: flex;
  margin-bottom: 24px;
  .commentsInput {
    display: none;
  }
  .commentsInput + label {
    height: 46px;
    line-height: 42px;
    padding: 0 18px;
    margin: 8px 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
  .commentsInput + label:hover {
    background-color: #282830;
  }
  .commentsInput:checked[type=radio] + label {
    background-color: #515163;
  }
}

.userComments {
  width: 100%;
  margin-top: 24px;
  padding: 12px 24px;
  background-color: #31313c;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;

  ul { padding: 0; margin: 0; }

  .inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #515163;
    padding: 12px;
  }
}
.commentBox {
  .userInfo {
    display: flex;
    color: #9e9eb1;
    .name {

    }
    .separator {
      background: currentColor;
      color: #9e9eb1;
      height: 16px;
      width: 2px;
      margin: auto 17px;
      padding: 0;
    }
    .date {

    }
    .recommend {
      color: salmon;
    }
  }

  .comment {
    
  }
  .recommendBtn {
    padding: 4px 6px;
    margin: 0;
    color: salmon;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
    border: none;

    span {
      margin-right: 4px;
    }
  }
  .recommendBtn:hover {
    color: rgb(249, 173, 164)
  }
}



.더보기버튼 {
  width: 100%;
  margin-top: 12px;
  color: #9e9eb1;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  cursor: pointer;
  background-color: #424254;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0.25rem;
}

.더보기버튼:hover {
  background-color: #515163;
}

.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  .btnWrap {
    display: flex;
    justify-content: space-between;
    margin-right: -16px;
  }
}


