.template {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
    padding: 24px;
    margin: 12px auto;
    background-color: #282830;
    border-radius: 0.25rem;
  }